<!-- <footer class="site-footer text-center">
  <div class="container">
    <div class="made-with-heart">
      <span class="octicon octicon-mortar-board"></span> with <span class="octicon octicon-heart"></span> by <a href="https://education.github.com" class="octicon octicon-logo-github"></a>
    </div>
  </div>
  Classroom for GitHub is <%= link_to 'open source', 'https://github.com/education/classroom' %>.
</footer>
 -->
<div class="container site-footer-container">
  <div class="site-footer">
    <ul class="site-footer-links right">
      <li><a href="https://status.github.com/">Status</a></li>
      <li><a href="https://developer.github.com">API</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>

    <a href="/" aria-label="Homepage" class="site-footer-mark">
      <svg class="octicon octicon-mark-github" height="24" title="Labory" version="1.0" viewBox="0 0 457.115 457.115" width="24">
        <%= render 'shared/svg_logo_path' %>
      </svg>
    </a>
    <ul class="site-footer-links">
      <li>&copy 2016 Labory.co</li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="https://help.github.com">Help</a></li>
    </ul>
  </div>
</div>