<footer class="site-footer text-center">
  <div class="container">
    <div class="made-with-heart">
      Made with <span class="octicon octicon-heart"></span> by <a href="https://github.com/imjching">@imjching</a>
    </div>
  </div>
  <!-- Labory is <%#= link_to 'open source', 'https://github.com/imjching/labory' %>. -->
  Labory
</footer>