<div class="tabnav">
  <nav class="tabnav-tabs">
    <a class="tabnav-tab" href="#students" data-toggle="tab">
      <span class="octicon octicon-organization"></span>Students
    </a>
    <a class="tabnav-tab selected" href="#modules" data-toggle="tab">
      <span class="octicon octicon-book"></span>Modules
    </a>
    <a class="tabnav-tab" href="#graphs" data-toggle="tab">
      <span class="octicon octicon-graph"></span>Graphs
    </a>
    <a class="tabnav-tab" href="#settings" data-toggle="tab">
      <span class="octicon octicon-gear"></span>Settings
    </a>
  </nav>
</div>

<div class="tab-content">
  <div class="tab-pane fade" id="students">Contents for students</div>
  <div class="tab-pane fade in selected" id="modules">Contents for modules</div>
  <div class="tab-pane fade" id="graphs">Contents for graphs</div>
  <div class="tab-pane fade" id="settings">Contents for settings</div>
</div>