.show-modules {
  :target {
    background-color: #ffe;
  }

  .module-handle-cell {
    line-height: 70%;
    padding-right: 10px;
    word-wrap: break-word;
    max-width: 28px;
  }

  .module-info-cell {
    width: 611px;
    padding-right: 0;
    padding-left: 0;
  }

  .module-info-name {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    color: #333;

    &:hover {
      color: #4078c0;
      text-decoration: none;
    }
  }

  .module-info-meta {
    margin-top: 1px;
    margin-bottom: 2px;
    font-weight: normal;
    color: #999;
  }

  .module-btn-cell {
    width: 90px;
    text-align: right;
  }
}

.show-labs {

  .table-list-cell {
    font-size: 13px;
  }

  .lab-info-cell {
    width: 430px;
    padding-right: 0;
    padding-left: 15px;

    a:hover {
      color: #4078c0;
    }
  }

  .lab-date-cell {
    width: 300px;
    text-align: right;
  }

  .lab-info-meta {
    margin-top: 1px;
    margin-bottom: 2px;
    font-weight: normal;
    color: #999;
  }

  .state {
      display: inline-block;
      padding: 2px 6px;
      font-size: 11px;
      font-weight: 700;
      line-height: 15px;
      margin-right: 10px;
      color: #fff;
      text-align: center;
      background-color: #999;
      border-radius: 3px;
  }

  .state-closed {
    background-color: #d9534f;
  }
}


.show-solutions {

  .table-list-cell {
    font-size: 13px;
  }

  .solution-author-cell {
    width: 250px;
    padding-right: 0;
    padding-left: 15px;

    a:hover {
      color: #4078c0;
    }
  }

  .solution-link-cell {
    width: 480px;
    text-align: right;
  }

  .solution-link-meta {
    margin-top: 1px;
    margin-bottom: 2px;
    font-weight: normal;
    color: #999;
  }
}

.btn-show-hide {
  label {
    cursor: pointer;
  }

  span.octicon-eye + label:before {
    content: attr(btn-show);
  }

  span.octicon-mute + label:before {
    content: attr(btn-hide);
  }
}




// utilities

.opacity-4 {
  opacity: 0.4 !important;
}

