.active-item-shadow {
  -webkit-box-shadow: rgba(133,133,133,0.1) 0 0 5px 2px,rgba(133,133,133,0.3) 0 0 2px;
  -moz-box-shadow: rgba(133,133,133,0.1) 0 0 5px 2px,rgba(133,133,133,0.3) 0 0 2px;
  box-shadow: rgba(133,133,133,0.1) 0 0 5px 2px,rgba(133,133,133,0.3) 0 0 2px;
}

.handle {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;

  &:hover {
    font-color: #57b5d6;
  }

  &:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
}
