<li class="simple public js-collab-repo" data-classroom-id="<%= classroom.id %>">
  <%= octicon('repo') %>

  <%= link_to [:stafftools, classroom] do %>
    <strong class="css-truncate-target"><%= classroom.title %></strong>
  <% end %>
</li>